* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/Inter/Inter-VariableFont_slnt\,wght.ttf')
    format('truetype');
}
:root {
  --light-blue: #004e92;
  --dark-blue: #000428;
  --pure-white: #ffffff;
}
body {
  height: fit-content;
  width: 100%;
  padding: 0;
  margin: 0;
}
#content-wrapper {
  width: 100%;
  height: fit-content ;
  font-family: Inter, sanserfif;
  color: var(--pure-white);
  background-image: linear-gradient(var(--dark-blue), var(--light-blue));
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 5%;
}
#header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2% 5%;
}
#logo-container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
#logo-container:hover {
  transform: scale(1.1);
}
#logo {
  width: 90%;
  height: 45%;
}
#nav {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
#search-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#search-wrapper > input {
  width: 95%;
  height: 50%;
  border-radius: 15px;
  outline: none;
  border: none;
  font-size: larger;
  color: var(--pure-white);
  padding: 0% 1% 0% 2%;
  text-transform: lowercase;
  background-color: rgba(240, 248, 255, 0.129);
}
#search-container {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#search {
  width: 95%;
  height: 95%;
}
/* Content */
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 0 ;
  margin: 5% 0%;
}
#film-poster{
  display: flex;
  justify-content: center;
  align-items: center;
}
#film-poster img {
  scale: 0.8;
}
#film-info {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 3vh;
}
#film-info h1 {
  text-transform: capitalize;
  font-weight: 400;
}
#film-info-specs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 2vh;
}
.info-item {
  text-align: justify;
}
.info-term {
  font-weight: 600;
}
.info-content {
  font-weight: 300;
}
#film-rating {
  width: 100%;
  margin: 2.5% 0%;
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-around;
}
#film-rating img {
  height: 6rem;
}
#rating-score {
  font-size: 2rem;
}
/* Footer */
#footer{
  width: 100%;
  height:10vh;
  border-top: 1px solid #ffffff40;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#footer span>span{
  font-style: italic;
}
/*Tablet*/
@media only screen and (min-width: 750px) {
  #header {
    height: 5%;
  }
  #header-wrapper{
    padding: 0% 5%;
  }
  #logo-container {
    width: 10%;
    height: 10%;
  }
  #search-wrapper input {
    height: 25%;
  }
  #logo {
    width: 50%;
    height: 25%;
  }
  #search {
    width: 90%;
    height: 50%;
  }

  #nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #main-content {
    width: 85%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    height: fit-content;
    margin-bottom: 0;
    margin: 5% 0%;
  }
  #film-poster img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  #film-poster {
    width: 40%;
  }
  #film-info {
    width: 40%;
  }
  #film-info h1 {
    font-size: 3rem;
  }
  .info-term {
    font-size: 1.25rem;
  }
  .info-content {
    font-size: 1rem;
  }
}
